In [2]:
import glob
import os
import numpy as np
import pandas as pd
from sklearn import

In [23]:
path = "/home/jorgher/Documents/faceRec/CFEE/"
files = sorted(glob.glob(path+'*.csv'))
files = files[:7]
emotions = ["neutral",'happy','sad','fearful','angry','surprised','disgusted']
dbs = []
for i,f in enumerate(files):
    db = pd.read_csv(f)
    db = db[['D1','D2','D3','D4','D5','D6','D7','A0','A1','A2','A3','A4','A5']]
    db['Emotions'] = emotions[i]
    dbs.append(db)
    
db_Train = (pd.concat(dbs[i][:130] for i in range(len(files))))
db_Test = (pd.concat(dbs[i][130:230] for i in range(len(files))))

In [24]:
db_Train.describe()

,D1,D2,D3,D4,D5,D6,D7,A0,A1,A2,A3,A4,A5
count,910.000000,910.000000,910.000000,910.000000,910.000000,910.000000,910.000000,910.000000,910.000000,910.000000,910.000000,910.000000,910.000000
mean,25.332366,22.877889,25.660042,9.190658,9.308119,25.430703,63.900569,1.120281,0.294933,1.129678,0.330663,0.735239,1.159159
std,5.818093,5.799546,5.800747,2.939984,2.973594,10.290297,11.992700,0.257674,0.040681,0.146507,0.069394,0.274581,0.255997
min,10.049876,11.000000,12.806248,2.000000,1.414214,5.099020,39.051248,0.607802,0.186447,0.747789,0.134321,0.192425,0.641420
25%,21.124568,18.295988,21.540659,7.071068,7.071068,18.027756,55.145263,0.946551,0.267453,1.026399,0.281833,0.559396,0.984936
50%,25.079872,22.090722,25.059928,9.000000,9.055385,23.021729,61.830180,1.067248,0.294077,1.120759,0.330291,0.666274,1.110797
75%,29.055972,27.000000,29.529646,11.045361,11.045361,30.066593,71.007042,1.224078,0.320727,1.225770,0.378435,0.835226,1.254998
max,46.097722,43.011626,44.011362,19.104973,21.095023,74.000000,106.018866,2.122131,0.438434,1.705507,0.556718,1.850426,2.122131

In [25]:
db_Test.describe()

,D1,D2,D3,D4,D5,D6,D7,A0,A1,A2,A3,A4,A5
count,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,24.785615,22.424531,25.189684,9.098364,9.176706,25.171740,63.399266,1.124080,0.295504,1.138002,0.325643,0.738343,1.159236
std,5.809360,5.701853,5.634030,2.818507,2.888399,9.562644,11.430088,0.245664,0.040201,0.147023,0.072860,0.264824,0.244336
min,9.219544,9.848858,12.727922,2.000000,2.000000,5.000000,42.047592,0.663309,0.189119,0.785936,0.138900,0.126496,0.671755
25%,21.000000,18.027756,21.189620,7.071068,7.071068,18.110770,55.029536,0.957725,0.268790,1.033257,0.272411,0.565783,0.997718
50%,25.019992,22.022716,24.698178,9.000000,9.055385,23.021729,61.032778,1.073646,0.294621,1.130865,0.329357,0.670300,1.113689
75%,29.017236,26.076810,29.068884,11.000000,11.045361,30.016662,69.065187,1.214432,0.319746,1.231857,0.374666,0.832613,1.264923
max,44.045431,42.047592,46.065171,19.104973,19.104973,73.027392,109.004587,2.011231,0.463520,1.692768,0.550436,1.746821,2.026868